/* BASIC STYLES HERE */

body{
    background-size: cover;
    background-position: center;
   
}

#clock {
            font-size: 2em;
            text-align: center;
            color: white;
        }