/* BASIC STYLES HERE */

body{
    clear: both;
    background-position: center;
    background-size: cover;
   
}

/* author:hover{
    display: none;
} */

#clock {
            font-size: 2em;
            text-align: center;
            color: white;
        }